<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
     <link rel="stylesheet" href="javascripts/vendor/mocha/mocha.css" type="text/css" media="screen" charset="utf-8">
     <title><%=name%> Spec Runner</title>
    
  </head>

  <body>
    <div id="mocha"></div>
    <script type="text/javascript" src="javascripts/vendor/mocha/mocha.js"></script>
    <script type="text/javascript" src="javascripts/vendor/chai/chai.js"></script>
    <script type="text/javascript" src="javascripts/vendor/sinon.js/sinon.js"></script>
    <% if config[:testem] %>
      <script type="text/javascript" src="/testem.js"></script>
    <% end %>
    <script data-main="javascripts/spec_runner.js" src="javascripts/vendor/requirejs/require.js"></script>
  </body>
</html>
